@charset "UTF-8";



/*리스트*/
div#feedList{
	width:90%;
	margin:30px auto;
}

div#output{
	margin-left: 40px;
}

div.content{
	width:500px;
	height:600px;
	margin:20px;
	float:left;
}

p{
	float:left;
}


img.thumbnail{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border-radius:15px;
}

div.textArea{
	position: relative;
	border:1px solid red;
}


/*리모컨 버튼*/
.writeButton {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 35px;
}

input.topButton {
    width: 70px;
    height: 70px;
    background-color:#0de9df;
    border: none;
    border-radius: 35px;
}