@CHARSET "UTF-8";

/*=========레이아웃=========*/
div#main{
	width:1024px;
	margin:0 auto;
	font-size:10pt;
	font-family: "맑은 고딕";
}
div#main_header{
	width:100%;
	height:100px;
	margin-bottom: 10px;
	padding: 0 10px 0 0;
}
div#main_menu{
	float:left;
	width:17%;
	min-height:400px;
}
div#main_body{
	float:left;
	width:78%;
	padding:5px 5px 30px 5px;
}
div#main_footer{
	clear:both;
	width:100%;
	background-color:yellow;
}

/*==========메뉴==========*/
div#main_menu ul{
	list-style:none;
}

div#main_menu ul li{
	margin-bottom:5px; 
}

/*==========페이지 기본 스타일======*/
.page-main-style{
	width:98%;
	margin:0 auto;
}
.one-page{
	width:600px;
	margin:0 auto;
}
/*==========메시지======*/
.result-display{
	width:400px;
	margin:50px auto;
	border:1px solid #000;
	padding:100px 0 100px 0;
	text-align:center;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.error-color{
	color:#ff0000;
}
/*Mypage*/
.mypage-div{
	width:48%;
	float:left;
	padding:5px;
}
.my-photo{
	object-fit: cover;
    object-position: top; /*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
    border-radius: 50%;/*사각형의 모서리 둥근 정도를 지정하는 속성인데 50%를 지정하면 완전한 원이 됨*/
}

/*목록*/
form#search_form{
	border: none;
}
ul.search{
	width:500px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
.list-space{
	width:700px;
	margin:10px auto;
}
table{
	width:100%;
	margin:5px auto;
	border:1px solid #000;
	border-collapse:collapse;
}
table td, table th{
	border:1px solid #000;
	padding:5px;
}
/*글상세*/
.detail-img{
	max-width: 500px;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#eeeeee;
}
#output_fav, .output_rfav{
	cursor : pointer;
}
#output_fcount{
	width:50px;
	display:inline-block;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
span.form-id{
	padding-left:93px;
	color:#000;
}
textarea.rep-content{
	width:90%;
	height:50px;
	margin:10px 10px;
}
div#re_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#re_second{
	float:left;
	width:19%;
	margin-bottom:10px;
}
div#loading{
	width:100px;
	margin:0 auto;
}
div.paging-button{
	text-align:right;
}
div#output{	
	clear:both;
}
form#mre_form{
	border:none;
	margin:5px;
}
/*등록,수정폼*/
form{
	width:800px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 10px 30px;
}

/*summernote 용*/
form#write_form, form#update_form{
	width:590px;
}
ul{
	list-style:none;
}
label{
	width:130px;
	float:left;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:200px;
}
#register_form input[id="id"]{
	width:113px;
}
input[id="zipcode"]{
	width:95px;
}

.tipBoardTable td{
	height:50px;
}

/*================페이지 10개씩,20개씩등등 보기=============*/
.boardListBelowPart{
	position:relative;
}

.boardPaging-selectbox {
	position : absolute;
	top:0px;
	right:10px;
	float: left;
	width: 100px;
	height: 25px;
	margin-right: 5px;
	z-index: 10;
}

ul.selectbox-options {
	position: absolute;
	top:5px;
	width: 100%;
	height: 23px;
	max-height: 40px;
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
	background-color: #fcfcfc;
	z-index: 9;
	transition: max-height .5s ease-out;
}
ul.selectbox-options li {
	list-style: none;
	padding: 0 7px;
	display: block;
}
ul.selectbox-options.opened {
	height: auto;
	max-height: 500px;
}
ul.selectbox-options li:not(.init) {
	display: none;
	height: 25px;
	padding: 0 10px;
	line-height: 25px;
	font-size: 12px;
}
ul.selectbox-options li.selected {
	font-weight: bold;
}
ul.selectbox-options li.init,
ul.selectbox-options li:first-child{
	background-repeat: no-repeat;
	background-image: url(../images/board/selectbox.png);
	background-position: 100% -2px;
	height:25px;
}
ul.selectbox-options.opened li.init,
ul.selectbox-options.opened li:first-child,
ul.selectbox-options.opened li.init:first-child {
	background-position: 100% -30px;
}
ul.selectbox-options.opened li {
	display: block;
}

ul.selectbox-options li.selected {
	display: block;
}
ul.selectbox-options li:hover {
	background-color: #f5f5f5;
}

/* 

.selectRowCount > ul { 
    height: 30px;
    width: 150px;
    border: 1px #000 solid;
   	position: absolute;
   	right: 10px;
   	top: 10px;
}
.selectRowCount > ul li { padding: 5px 10px; z-index: 2; }
.selectRowCount > ul li.selected{font-weight:bold;}
.selectRowCount > ul li:not(.selected) { 
	float: left;
	width: 130px;
	display: none;
	background: #ddd;	
}
ul.selectbox-options li.selected,
ul.selectbox-options li:first-child,
ul.selectbox-options.opened li.selected:first-child {
	background-repeat: no-repeat; background-image: url(http://rootbox.co.kr/resources/customized_checkbox/customized_selectbox.png); background-position: 100% 6px;	
}
.selectRowCount > ul li:not(.selected):hover, ul li.selected:not(.selected) { background: #09f; }
.selectRowCount > ul > li { cursor: pointer; }

.selectRowCount > a#submit { z-index: 1; }
 */
/*=====================댓글창======================*/
form#commentbox{
	border:none;
}
input#comment{
	width:500px;
	height:30px;
}
div.commentList a:hover{
	cursor: pointer;
	color:blue;
	text-decoration: underline;
}

.boardCofC{
	line-height : 15px;
	padding-top: 0px;
	cursor: pointer;
}

div.list_boardcofc{
	padding : 0px 0px 10px 20px;
}



